parameters:
    app.upload_max_bytes: '%env(int:UPLOAD_MAX_BYTES)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            int $uploadMaxBytes: '%app.upload_max_bytes%'
            Symfony\Contracts\Cache\CacheInterface $lookupsCache: '@cache.lookups'

    # Redis cache with tag support
    Symfony\Contracts\Cache\TagAwareCacheInterface: '@cache.app'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\DepreciationCalculator:
        public: true

    App\Service\CostCalculator:
        public: true

    App\Service\DvsaApiService:
        arguments:
            $dvsaApiKey: '%env(DVSA_API_KEY)%'
            $dvsaTokenUrl: '%env(DVSA_TOKEN_URL)%'
            $dvsaClientId: '%env(DVSA_CLIENT_ID)%'
            $dvsaClientSecret: '%env(DVSA_CLIENT_SECRET)%'
            $dvsaScope: '%env(DVSA_SCOPE_URL)%'
            $dvsaApiUrl: '%env(DVSA_API_URL)%'

    App\Service\DvlaApiService:
        arguments:
            $dvlaApiKey: '%env(DVLA_API_KEY)%'

    # Controllers are autowired; specific controller argument wiring removed to avoid coupling

    App\Service\ReceiptOcrService:
        arguments:
            $uploadDirectory: '%kernel.project_dir%/uploads'

    App\Service\SiteAdapter\EbayAdapter:
        arguments:
            $ebayClientId: '%env(EBAY_CLIENT_ID)%'
            $ebayClientSecret: '%env(EBAY_CLIENT_SECRET)%'
            $ebayMarketplace: '%env(EBAY_MARKETPLACE)%'
            $ebayAccessToken: '%env(EBAY_ACCESS_TOKEN)%'

    App\Service\SiteAdapter\AmazonAdapter:
        arguments:
            $amazonAccessKey: '%env(AMAZON_ACCESS_KEY)%'
            $amazonSecretKey: '%env(AMAZON_SECRET_KEY)%'
            $amazonAssociateTag: '%env(AMAZON_ASSOCIATE_TAG)%'
            $amazonRegion: '%env(AMAZON_PARTNER_REGION)%'

    # Vehicle Specification Adapters
    App\Service\VehicleSpecAdapter\ApiNinjasMotorcycleAdapter:
        arguments:
            $apiNinjasKey: '%env(API_NINJAS_KEY)%'
        tags: ['app.vehicle_spec_adapter']

    App\Service\VehicleSpecAdapter\ApiNinjasCarAdapter:
        arguments:
            $apiNinjasKey: '%env(API_NINJAS_KEY)%'
        tags: ['app.vehicle_spec_adapter']

    App\Service\VehicleSpecAdapter\DvlaAdapter:
        arguments:
            $dvlaService: '@App\Service\DvlaApiService'
        tags: ['app.vehicle_spec_adapter']

    # Auto-register adapters with the main service
    App\Service\VehicleSpecificationScraperService:
        calls:
            - registerAdapter: ['@App\Service\VehicleSpecAdapter\DvlaAdapter']
            - registerAdapter: ['@App\Service\VehicleSpecAdapter\ApiNinjasMotorcycleAdapter']
            - registerAdapter: ['@App\Service\VehicleSpecAdapter\ApiNinjasCarAdapter']

    # VIN Decoder Service
    App\Service\VinDecoderService:
        arguments:
            $apiNinjasKey: '%env(API_NINJAS_KEY)%'

    # Import/Export Configuration
    App\Config\ImportExportConfig:
        arguments:
            $batchSize: 25
            $memoryLimitMB: 1024
            $maxExecutionTime: 0
            $allowedMimeTypes: ['application/zip', 'application/json']
            $maxFileSizeMB: 100
            $enableMemoryCleanup: true
            $cleanupInterval: 25

    # Import/Export Services
    App\Service\VehicleExportService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\VehicleImportService:
        arguments:
            $projectDir: '%kernel.project_dir%'
