version: '3.8'

services:
  php:
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: client_host=host.docker.internal
    volumes:
      - ./backend:/var/www/html:cached

  frontend:
    environment:
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
