version: '3.9'

services:
  php:
    environment:
      XDEBUG_MODE: debug,develop,coverage
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003 idekey=PHPSTORM
      XDEBUG_SESSION: PHPSTORM
      PHP_IDE_CONFIG: serverName=vehicle-docker
    volumes:
      - ./backend:/var/www/html:cached
      - ./uploads:/var/www/html/uploads:rw
    user: "0:0"
    entrypoint: ["/usr/local/bin/docker-entrypoint.sh"]

  frontend:
    environment:
      - WATCHPACK_POLLING=true
      - REACT_APP_PASSWORD_POLICY=${REACT_APP_PASSWORD_POLICY}
      - REACT_APP_API_URL=${REACT_APP_API_URL}
    stdin_open: true
    tty: true
