version: '3.8'

services:
  php:
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: client_host=host.docker.internal
    volumes:
      - ./backend:/var/www/html:cached
    user: "0:0"
    entrypoint: ["/usr/local/bin/docker-entrypoint.sh"]

  frontend:
    environment:
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
