monolog:
  handlers:
    main:
      type: stream
      path: '%kernel.project_dir%/var/log/%kernel.environment%.log'
      level: debug
      channels: ['!event']
    console:
      type: console
      process_psr_3_messages: false
      channels: ['!event', '!doctrine']
